// variables del nav

$alto-nav: 65px;

// estilos de las listas

$text-primary: #000000;
$text-secondary:#ffffff;
$font-size-list: 17px;
$font-size-logo: 48px;
$font-size-tittle: 65px;
$font-size-text: 18px;

// fuentes de los textos

$font-text: 'Archivo Narrow', sans-serif;
$font-tittle:'Kaushan Script', cursive;

// variables de iconos

$size-icons: 45px;
$color-instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$color-facebbok: #083aa7;;
$color-youtube:#ff0000;
$color-twitter: #1DA1F2;
